.button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  line-height: 1.5;
  text-align: center;
  background-color: $color-base-primary;
  font-family: $font-family;
  color: $color-base-white;
  box-sizing: border-box;
  cursor: pointer;
}
