.button {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding: 8px 20px;
  line-height: 1.5;
  text-align: center;
  background-color: $color-base-primary;
  font-family: $font-family;
  color: $color-base-white;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  background-color: $color-alt-primary-lighter;
}

.button:active {
  background-color: $color-alt-primary-darker;
}

.button--white {
  color: $color-base-primary;
  background-color: $color-base-white;
}

.button--white:hover {
  color: $color-base-white;
  background-color: $color-alt-primary-lighter;
}

.button--white:active {
  background-color: $color-alt-primary-darker;
  color: $color-base-white;
}

.button--white:default {
  background-color: $color-alt-light-grey;
  color: $color-base-white;
}
