.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-label {
  padding-bottom: 10px;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 52px;
  cursor: pointer;
  user-select: none;
}

.checkbox + label::before {
  content: " ";
  position: absolute;
  top: -4px;
  left: 0;
  width: 40px;
  height: 22px;
  border-radius: 12px;
  background-color: $color-base-grey;
  border: 2px solid $color-base-grey;
  transition: 0.2s;
}

.checkbox + label::after {
  content: " ";
  position: absolute;
  top: -1px;
  left: 2px;
  width: 21px;
  height: 20px;
  border-radius: 10px;
  background-color: $color-base-white;
  transition: 0.2s;
}

.checkbox:checked + label::before {
  background-color: $color-base-primary;
  border: 2px solid $color-base-primary;
}

.checkbox:hover + label::before {
  background-color: $color-alt-primary-opacity;
  border: 2px solid $color-base-primary;
}

.checkbox:disabled + label::before {
  background-color: $color-alt-light-grey;
  border: 2px solid $color-alt-light-grey;
}

.checkbox:checked + label::after {
  left: 20px;
}

.checkbox-disabled {
  color: $color-alt-light-grey;
}
