/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  background-color: $color-base-white;
  color: $color-base-black;
}

body ul {
  list-style: none;
}

body a {
  cursor: pointer;
}
