/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  background-color: $color-base-white;
  color: $color-base-black;
}

body ul {
  list-style: none;
}

body a {
  cursor: pointer;
}

h1 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-align: center;
  color: $color-base-black;
}

h2 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: $color-base-black;
}

h3 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: $color-base-black;
}

h4 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: $color-base-primary;
}
