.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.radio + label::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $color-base-grey;
  border-radius: 50%;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: $color-alt-primary-lighter;
  background-color: $color-alt-primary-opacity;
}

.radio:not(:disabled):not(:active) + label:focus::before {
  border-color: $color-alt-primary-lighter;
  background-image: url("../../icons/radio-ellipse.svg");
  background-size: 16px;
  opacity: 0.2;
}

.radio:checked + label::before {
  border-color: $color-base-primary;
  background-image: url("../../icons/radio-ellipse.svg");
  background-size: 16px;
}

.radio:checked:disabled + label::before {
  border-color: $color-alt-light-grey;
  background-image: url("../../icons/radio-disabled.svg");
  background-size: 16px;
}

.radio:disabled + label::before {
  border-color: $color-alt-light-grey;
}

.radio:focus-visible + label::before {
  border-color: $color-alt-primary-lighter;
  background-color: $color-alt-primary-opacity;
}

.radio__disabled {
  color: $color-alt-light-grey;
}
