.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;

  @media (min-width: $tablet-width) {
    gap: 29px;
  }
}

.card-list__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: $color-base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    width: 349px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 317px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

.card-list__item:last-child {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.card-list__image {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    margin-bottom: 23px;
  }
}

.card-list__title h3 {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 24px;
    padding: 0 30px;
    margin-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.card-list__description {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.card-list__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: auto;
    margin-bottom: 30px;
  }
}

.card-list__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  margin-left: -2px;
  letter-spacing: 0.03em;
}

.card-list__offer {
  display: flex;
  justify-content: right;
  min-width: 141px;
  height: 36px;
  text-align: right;
  box-sizing: border-box;
  background-image: url("../../icons/icon-bag-button.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 20;
  letter-spacing: 0.03em;
}
