.catalog {
  background-color: $color-bg-lightest-grey;
}

.catalog__container {
  margin: 0 auto;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__badge {
  padding-top: 50px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $color-base-primary;
}

