.catalog {
  background-color: $color-bg-lightest-grey;
}

.catalog__container {
  margin: 0 auto;
  width: 280px;
}

.catalog__title {
  margin-bottom: 20px;
}
.catalog__filter {
  margin: 0 auto;
}

.catalog__badge {
  padding-top: 50px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $color-base-primary;
}

.catalog__sorting {
  margin: 0 auto;
}

.catalog__cards {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__parametr {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.catalog__variety {
  padding: 4px 30px 4px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  width: 165px;
  height: 32px;
  appearance: none;
  background-image: url("../../icons/arrow-down.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 145px;
  background-color: $color-bg-lightest-grey;
  color: $color-base-primary;
  border: none;
}

.catalog__variety:hover {
  background-color: $color-base-secondary;
}

.catalog__variety:focus {
  background-image: url("../../icons/arrow-up.svg");
  border: none;
}

.catalog__scope {
  margin: 0;
  padding: 0;
}
.catalog__pagination {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
