.catalog {
  background-color: $color-bg-lightest-grey;
}

.catalog__container {
  margin: 0 auto;
  width: 280px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    width: 728px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding-bottom: 120px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 30px;
  }
}

.catalog__title {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 1.52;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.catalog__form {
  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 5px;
  }
}

.catalog__filter {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 223px 221px 223px;
    gap: 31px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 318px;
  }
}

.catalog__filter:last-child {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.catalog__badge {
  padding-top: 50px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $color-base-primary;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.catalog__sorting {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 1011px;
  }
}

.catalog__cards {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: right;
    margin-bottom: 26px;
  }
}

.catalog__parametr {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    justify-content: right;
    padding-right: 11px;
  }
}

.catalog__variety {
  padding: 5px 27px 4px 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: left;
  width: 165px;
  height: 32px;
  appearance: none;
  background-image: url("../../icons/arrow-down.svg");
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 147px;
  background-color: $color-bg-lightest-grey;
  color: $color-base-primary;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 5px 30px 4px 10px;
    margin: 0;
    background-position-x: 145px;
  }
}

.catalog__variety:hover {
  background-color: $color-base-secondary;
}

.catalog__variety:focus {
  background-image: url("../../icons/arrow-up.svg");
  border: none;
}

.catalog__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.catalog__pagination {
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: right;
  }
}
