.features {
  background-color: $color-base-white;
  color: $color-base-black;
}

.features__container {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    width: 1360px;
  }
}

.features__badge {
  margin: 50px 0 6px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: $color-base-primary;

  @media (min-width: $tablet-width) {
    margin: 60px 0 6px;
  }

  @media (min-width: $desktop-width) {
    margin: 100px 0 6px;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
}

.features__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.52;
    text-align: center;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__subtitle {
  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 339px 339px;
    grid-gap: 50px 30px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 120px;
    justify-content: center;
    gap: 30px;
  }
}

.features__item {
  margin: auto;
  padding-top: 66px;
  margin-bottom: 32px;
  background-size: 52px;
  background-position: top;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 267px;
    margin: 0;
    margin-bottom: 0;
    background-position-y: top;
    background-position-x: left;
    padding: 0 0 0 72px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
    background-size: 52px;
    background-position: top;
    background-position-y: -2px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 75px 0 0;
  }
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item--speed {
  background-image: url("../../images/image-features-speed.svg");
}

.features__item--fit {
  background-image: url("../../images/image-features-fit.svg");
}

.features__item--energy {
  background-image: url("../../images/image-features-energy.svg");
}

.features__item--eco {
  background-image: url("../../images/image-features-eco.svg");
}

.features__description {
  text-align: center;
  padding-top: 4px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
