.filter {
  padding: 0;
  margin: 0 auto;
}

.filter__container {
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.filter__parametr {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 19px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.filter__parametr--special {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }
}

.filter__range {
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.filter__slider-track {
  width: 280px;
  height: 5px;
  position: absolute;
  margin: 53px auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 223px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 328px;
  }
}

.filter__range::-webkit-slider-runnable-track {
  appearance: none;
  height: 5px;
}

.filter__range::-moz-range-track {
  appearance: none;
  height: 5px;
}

.filter__range::-ms-track {
  appearance: none;
  height: 5px;
}

.filter__range::-webkit-slider-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  border: 2px solid $color-alt-primary-lighter;
  background-color: $color-base-white;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

.filter__range::-moz-range-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.filter__range::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.filter__range:hover::-webkit-slider-thumb {
  background-color: $color-base-white;
  background-image: url("../../icons/hover-range.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 2px solid $color-base-primary;
}

.filter__range:active::-webkit-slider-thumb {
  background-color: $color-base-white;
  background-image: url("../../icons/active-range.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 2px solid $color-base-primary;
}

.filter__values {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  width: 280px;
  padding: 38px 0 0;
  margin-bottom: 31px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: $color-base-black;

  @media (min-width: $tablet-width) {
    width: 222px;
    gap: 19px;
    padding: 35px 0 0;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    gap: 21px;
    padding: 36px 0 0;
    margin-bottom: 21px;
  }
}

.filter__number {
  display: flex;
  background-color: $color-base-white;
  border: 2px solid $color-alt-primary-lighter;
  border-radius: 4px;
  padding: 5px 10px;
  width: 119px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 6px 10px;
  }
}

.filter__number--max {
  color: $color-base-black;
}

.filter__option {
  margin: 0 auto;
  margin-bottom: 22px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 223px;
  }
}

.filter__radio {
  margin-bottom: 11px;
  padding: 1px;
  font-size: 16px;
  line-height: 1.5;
}

.filter__checkbox {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.filter__checkbox:last-child {
  margin-bottom: 20px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.filter__button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 10px auto 0;
    width: 274px;
    grid-column-start: span 3
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0;
    width: 318px;
    gap: 20px;
  }
}

.filter__applay {
  font-weight: $font-weight;
  font-size: 16px;
  width: 100%;
}

.filter__reset {
  font-weight: $font-weight;
  font-size: 16px;
  width: 100%;
}
