.filter {
  padding: 0;
  margin: 0 auto;
}

.filter__container {
  position: relative;
  margin: 0 auto;
}

.filter__parametr {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 19px;
}

.filter__parametr--special {
  margin-bottom: 29px;
}

.filter__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.filter__slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

.filter__range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

.filter__range::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

.filter__range::-ms-track {
  appearance: none;
  height: 5px;
}

.filter__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  border: 2px solid $color-alt-primary-lighter;
  background-color: $color-base-white;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

.filter__range::-moz-range-thumb {
  -moz-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.filter__range::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
}

.filter__range:hover::-webkit-slider-thumb {
  background-color: $color-base-white;
  background-image: url("../../icons/hover-range.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 2px solid $color-base-primary;
}

.filter__range:active::-webkit-slider-thumb {
  background-color: $color-base-white;
  background-image: url("../../icons/active-range.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  border: 2px solid $color-base-primary;
}

.filter__values {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  width: 100%;
  padding: 39px 0 0;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: $color-base-black;
}

.filter__number {
  display: flex;
  background-color: $color-base-white;
  border: 2px solid $color-alt-primary-lighter;
  border-radius: 4px;
  padding: 5px 10px;
  width: 119px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.filter__number--max {
  color: $color-base-black;
}

.filter__option {
  margin: 0 auto;
  padding: 0;
}

.filter__radio {
  margin-bottom: 10px;
  padding: 1px;
  font-size: 16px;
  line-height: 1.5;
}

.filter__checkbox {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.filter__checkbox:last-child {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.filter__button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.filter__applay {
  font-weight: $font-weight;
  font-size: 16px;
}

.filter__reset {
  font-weight: $font-weight;
  font-size: 16px;
}
