.footer {
  background: $color-base-white;
}

.footer__container {
  margin: 0 auto;
  width: 320px;
  padding: 20px 0 30px;

  @media (min-width: $tablet-width) {
    padding-top: 39px;
    width: 728px;
    display: grid;
    grid-template-columns: 223px 222px 223px;
    grid-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    grid-template-columns: 318px 317px 318px 317px;
  }
}

.footer__sotial {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-column-start: span 3;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    flex-direction: column;
    justify-content: start;
  }
}

.footer__logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    justify-content: left;
  }
}

.footer__logo-image {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 170px;
    height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.footer__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-bottom: 50px;
  }
}

.footer__sotial-wrapper {
  display: flex;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.footer__sotial-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sotial-list__item {
  &:hover,
  &:focus,
  &:focus-within {
    background: $color-base-secondary;
    outline: none;
  }

  &:active {
    background: $color-alt-primary-opacity;
  }
}

.sotial-list__link {
  display: block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.sotial-list__link--vk {
  mask-image: url("../../icons/icon-sotial-vk.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;
  background: $color-base-grey;

  &:active {
    background: $color-base-primary;
  }
}

.sotial-list__link--pint {
  mask-image: url("../../icons/icon-sotial-pinterest.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;
  background: $color-base-grey;

  &:active {
    background: $color-base-primary;
  }
}

.sotial-list__link--ok {
  mask-image: url("../../icons/icon-sotial-odnoklasniki.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 20px;
  background: $color-base-grey;

  &:active {
    background: $color-base-primary;
  }
}

.footer__shop-wrapper {
  border-top: 1px solid $color-base-secondary;
  padding: 20px 0 0;
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.footer__shop-wrapper h4 {
  margin-bottom: 10px;
  padding: 0;
}

.footer__shop-list {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.shop-list__item {
  padding: 8px 0;
  margin-bottom: 5px;
}

.shop-list__link {
  color: $color-base-black;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
    outline: none;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.footer__media-wrapper {
  border-top: 1px solid $color-base-secondary;
  padding: 20px 0 0;
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.footer__media-wrapper h4 {
  margin-bottom: 10px;
  padding: 0;
}

.footer__media-list {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.media-list__item {
  padding: 8px 0;
  margin-bottom: 5px;
}

.media-list__link {
  color: $color-base-black;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
    outline: none;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.footer__contacts-wrapper {
  border-top: 1px solid $color-base-secondary;
  padding: 20px 0 0;
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    border-top: none;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
  }
}

.footer__contacts-wrapper h4 {
  margin-bottom: 20px;
  padding: 0;
}

.footer__contacts-list p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.contacts-list__item {
  padding: 0 0 0 19px;
  margin-bottom: 16px;
  color: $color-base-black;
}

.contacts-list__item--map {
  background-image: url("../../icons/icon-map-small.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: -10px;
  border: none;

  @media (min-width: $tablet-width) {
    background-position-y: -20px;
  }

  @media (min-width: $desktop-width) {
    background-position-y: -10px;
  }
}

.contacts-list__link {
  color: $color-base-black;
  width: 100%;

  &:hover,
  &:focus {
    color: $color-alt-primary-lighter;
    outline: none;
  }

  &:active {
    color: $color-alt-primary-darker;
  }
}

.contacts-list__item--phone {
  background-image: url("../../icons/icon-phone.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 0;
  border: none;
}

.footer__devop-wrapper {
  border-top: 1px solid $color-base-secondary;
  padding: 20px 20px 0;

  @media (min-width: $tablet-width) {
    grid-column-start: span 3;
    border-top: none;
    padding: 0;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: span 4;
    margin-top: -17px;
  }
}

.footer__devop-site {
  display: flex;
  justify-content: center;
}

.devop-site__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: $color-base-grey;
}

.devop-site__link {
  padding-left: 3px;
  width: 112px;
}

.devop-site__link--logo {
  mask-image: url("../../icons/icon-logo-academy.svg");
  mask-size: 112px 16px;
  mask-repeat: no-repeat;
  mask-position: right;
  background: $color-base-grey;
  border: none;

  &:hover,
  &:focus {
    background: $color-base-primary;
    outline: none;
  }

  &:active {
    background: $color-alt-primary-darker;
  }
}
