.header {
  background-color: $color-base-white;
}

.header__container {
  margin: 0 auto;
  width: 320px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {

  }
}

.header__logo {
  display: block;
  padding: 12px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 22px 20px;

  }

  @media (min-width: $desktop-width) {

  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {

  }
}

.header__item {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 0;
}

.header__authorization {
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $color-base-white;
  cursor: pointer;
  border: none;
  background-image: url("../../icons/icon-user.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {

  }
}

.header__buy {
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $color-base-white;
  cursor: pointer;
  border: none;
  background-image: url("../../icons/icon-bag.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {

  }
}

.header__menu {
  background-image: url("../../icons/icon-menu-closed.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  border: none;
}

.header-nav {
  position: relative;
}

.header-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $color-base-white;
  cursor: pointer;
  border: none;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {

  }
}

.header-nav--closed .header-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 22px;
  width: 16px;
  height: 1px;
  background-color: $color-base-black;
  box-shadow: 0 4px 0 0 $color-base-black, 0 8px 0 0 $color-base-black;
}

.header-nav--closed .site-list__item {
  display: none;

  &--active {
    display: block;
  }
}

.header-nav--closed .site-list__item--active a {
  text-align: center;
  text-decoration: none;
}

.header-nav--closed .user-list__item {
  display: none;
}

.header-nav--nojs .header-nav__wrapper {
  position: static;
  min-height: 0;
}

.header-nav--nojs .site-list__item {
  display: block;
}

.header-nav--nojs .site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.header-nav--opened .header-nav__wrapper {
  position: absolute;
  top: 60;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $color-base-white;

  @media (min-width: $tablet-width) {
    top: 0;
  }

}

.header-nav--opened .header-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 20px;
    height: 1px;
    background-color: $color-base-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.header-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {

  }
}

.site-list__item {
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  border-top: 1px solid $color-base-secondary;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}

.site-list__item:last-child {
  border-bottom: 1px solid $color-base-secondary;

  @media (min-width: $tablet-width) {
    border-bottom:none;
  }
}
