.header {
  background-color: $color-base-white;
}

.header__container {
  margin: 0 auto;
  width: 320px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 80px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.header__logo {
  display: block;
  padding: 12px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 22px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 22px 0;
  }
}

.header__logo-text {
  display: none;
  font-size: 12px;
  line-height: 1.33;
  align-content: center;

  @media (min-width: $desktop-width) {
    display: block;
    padding: 24px 0;
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    margin: 0 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px;
  }
}

.header__item {
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: $color-base-white;

  &:active {
    background: $color-base-secondary;
  }

  @media (min-width: $desktop-width) {
    &:hover .header__text {
      color: $color-base-primary;
    }
  }
}

.header__icon-authorization {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  mask-image: url("../../icons/icon-user.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 16px;
  background: $color-base-black;

  @media (min-width: $desktop-width) {
    width: 16px;
    height: 16px;
    padding: 32px 8px 32px 20px;

    &:hover {
      background: $color-base-primary;
    }
  }
}

.header__icon-buy {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  mask-image: url("../../icons/icon-bag.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 16px;
  background: $color-base-black;

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 16px;
    height: 16px;
    padding: 32px 8px 32px 20px;

    &:hover {
      background: $color-base-primary;
    }
  }
}

.header__text {
  display: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $color-base-black;

  @media (min-width: $desktop-width) {
    display: block;
    letter-spacing: 0.1em;
    padding: 32px 20px 32px 0;

    &:hover
    .header__icon-buy {
      background: $color-base-primary;
    }
  }
}

.header-nav__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 60px 0 67px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.header-nav {
  position: relative;
}

.header-nav__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $color-base-white;
  cursor: pointer;
  border: none;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header-nav--closed .header-nav__toggle::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 22px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: url("../../icons/icon-menu-closed.svg");
}

.header-nav--closed .site-list__item {
  display: none;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.header-nav--closed .site-list__item--active a {
  text-align: center;
  text-decoration: none;
}

.header-nav--nojs .header-nav__wrapper {
  position: static;
  min-height: 0;
}

.header-nav--nojs .site-list__item {
  display: block;
}

.header-nav--nojs .site-list__item--active a {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.header-nav--opened .header-nav__wrapper {
  position: absolute;
  top: 60;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: $color-base-white;
}

.header-nav--opened .header-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 22px;
    left: 22px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-image: url("../../icons/icon-menu-opened.svg");
  }
}

.header-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    background-color: $color-base-white;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    width: 700px;
  }
}

.site-list__item {
  display: flex;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: $color-base-black;
  border-top: 1px solid $color-base-secondary;

  &:active {
    background-color: $color-base-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
    border: none;
    align-self: stretch;
  }
}

.site-list__item a {
  color: $color-base-black;

  &:hover {
    color: $color-base-primary;
  }
}

.site-list__item:last-child {
  border-bottom: 1px solid $color-base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__item--presence {
  position: relative;
  color: $color-base-primary;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      background-color: $color-base-primary;
      width: 100%;
      height: 2px;
      transform: translateX(-50%);
    }
  }
}

.site-list__item--presence a {
  @media (min-width: $tablet-width) {
    color: $color-base-primary;
  }
}
