.header__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.header__logo {
  padding: 12px 20px;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header__nav-item {
  margin: 22px;
}

.header__authorization {
  background-image: url("../../icons/icon-user.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.header__buy {
  background-image: url("../../icons/icon-bag.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

.header__menu {
  background-image: url("../../icons/icon-menu-closed.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 16px;
  border: none;
}

.header__menu--closed .header__menu-wrapper {
  display: none;
}

.header__menu--opened .header__menu-wrapper {
  display: block;
}

.header__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.header__menu-item {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  border-top: 1px solid $color-base-secondary;
}

.header__menu-item:last-child {
  border-bottom: 1px solid $color-base-secondary;
}
