.hero {
  background-color: $color-bg-flat-white;

  @media (min-width: $tablet-width) {

  }

  @media (min-width: $desktop-width) {

  }
}

.hero__container {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding: 0 80px;
    width: 608px;

  }

  @media (min-width: $desktop-width) {
    width: 608px;
  }
}

.hero__offers-list {
  text-align: center;
}

.hero__offers-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__box-image {
  display: block;
  margin: 20px auto 10px;
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__image {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.hero__box-description {

  @media (min-width: $tablet-width) {
    margin: 60px 0 0;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__badge {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-base-primary;
}

.hero__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    letter-spacing: 0.02em;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__descriprion {
  margin-bottom: 20px;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.6;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__buy {
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {

  }
}

.hero__price-wrapper {
  display: flex;
  gap: 11px;
  align-items: center;
}

.hero__price-old {
  text-align: center;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 2;
  font-weight: $font-weight;
  color: $color-base-primary;
}

.hero__price-new {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
}

.hero__offer {
  padding: 8px 20px;
  width: 113px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
}
