.hero {
  background-color: $color-bg-flat-white;
}

.hero__container {
  padding: 0 20px;
}

.hero__offers-list {
  text-align: center;
}

.hero__image {
  margin: 20px 0 10px;
}

.hero__badge {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-base-primary;
}

.hero__title {
  margin-bottom: 10px;
}

.hero__descriprion {
  margin-bottom: 20px;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
}

.hero__buy {
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

.hero__price-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.hero__price-old {
  text-align: center;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 1.6;
  font-weight: $font-weight;
  color: $color-base-primary;
}

.hero__price-new {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

.hero__offer {
  padding: 8px 20px;
  width: 113px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
}
