.hero {
  background-color: $color-bg-flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $color-bg-flat-white 77%, $color-base-white 33%);
  }

  @media (min-width: $desktop-width) {
    background: $color-bg-flat-white;
  }
}

.hero__container {
  margin: 0 auto;
  padding: 0;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.hero__offers-slider {
  width: 320px;
  height: 656px;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 828px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 714px;
  }
}

.hero__button-preview {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0px;
  border: none;
  background: transparent;
  width: 20px;
  height: 656px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &:hover, &:focus {
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  &:disabled {
    background: transparent;
    cursor: auto;

    .hero__btn-preview {
      background: $color-base-grey;
    }
  }
}

.hero__btn-preview {
  width: 20px;
  height: 20px;
  left: 0 30px;
  top: 50%;
  display: inline-block;
  background-image:url("../../icons/slider-arrow-back.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  mask-image: url("../../icons/slider-arrow-back.svg");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
}

.hero__button-next {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  border: none;
  background: transparent;
  width: 20px;
  height: 656px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &:hover, &:focus {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0) 0%, rgba(120, 89, 207, 0.25) 100%);
  }

  &:disabled {
    background: transparent;
    cursor: auto;

    .hero__btn-next {
      background: $color-base-grey;
    }
  }
}

.hero__btn-next {
  width: 20px;
  height: 20px;
  right: 0 30px;
  top: 50%;
  display: inline-block;
  background-image:url("../../icons/slider-arrow-to.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  mask-image: url("../../icons/slider-arrow-to.svg");
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
}

.hero__points {
  @media (min-width: $desktop-width) {
    width: 202px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    gap: 8px;
    bottom: 60px;
    left: 619px;
    align-items: center;
  }
}

.hero__point {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    width: 62px;
    height: 4px;
    background-color: $color-base-white;
    cursor: pointer;

    &:hover, &:focus {
      background-color: $color-alt-primary-opacity;
    }
    &:active {
      background-color: $color-base-primary;
    }
  }
}

.hero__offers-list {
  text-align: center;

  @media (min-width: $desktop-width) {
    display: flex;
    transition: all 1s;
  }
}

.hero__offers-item {
  display: none;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
}
}

.activeSlide {
  display:flex;
}

.activeImage {
  @media (min-width: $desktop-width) {
    background-color: $color-base-primary;
  }
}

.hero__box-image {
  display: block;
  margin: 20px auto 10px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin: 30px 30px 84px 105px;
  }
}

.hero__image {
  display: block;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 600px;
  }
}

.hero__box-description {
  @media (min-width: $tablet-width) {
    margin: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    text-align: start;
    width: 623px;
  }
}

.hero__badge {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-base-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
    margin-top: 180px;
  }
}

.hero__title {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
    font-size: 56px;
    letter-spacing: 0.02em;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.hero__descriprion {
  margin: 0 auto 20px;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  width: 280px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.6;
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: 0 0 40px 0;
  }
}

.hero__buy {
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.hero__price-wrapper {
  display: flex;
  gap: 7px;
  align-items: center;
  height: 32px;
}

.hero__price-old {
  text-align: center;
  text-decoration: line-through;
  font-size: 16px;
  line-height: 2;
  font-weight: $font-weight;
  color: $color-base-primary;
  letter-spacing: 0.03em;
}

.hero__price-new {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.hero__offer {
  padding: 8px 20px;
  width: 113px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
}
