.map {
  background-color: $color-bg-lightest-grey;
}

.map__container {
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.map__image {
  padding: 0;
  display: block;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 540px;
  }
}
