.pagination a {
  color: $color-base-primary;
  background-color: $color-base-white;
  float: left;
  min-width: 40px;
  box-sizing: border-box;
  padding: 8px;
  text-decoration: none;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.pagination__word {
  display: none;
  color: $color-base-black;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    margin: 0 12px;
  }
}

.pagination__symbol {
  display: block;
  color: $color-base-primary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pagination a.active {
  color: $color-base-black;
  font-weight: 600;
  background-color: $color-bg-lightest-grey;
}


.pagination a.disabled {
  background-color: $color-alt-light-grey;
  color: $color-base-white;
}

.pagination a:hover:not(.active) {
  background-color: $color-alt-primary-lighter;
  color: $color-base-white;
}

.pagination a:active:not(.active) {
  background-color: $color-alt-primary-darker;
  color: $color-base-white;
}

.pagination span:hover:not(.active) {
  background-color: $color-alt-primary-lighter;
  color: $color-base-white;
}

.pagination span:active:not(.active) {
  background-color: $color-alt-primary-darker;
  color: $color-base-white;
}
